.reveal-text {
    position: relative;
    display: inline-block;
    overflow: hidden;
    clip-path: inset(0 100% 0 0);
    animation: revealText 3s ease-in-out infinite;
}
  
.word {
    margin-bottom: 1rem;
}
  
@keyframes revealText {
    0%, 100% {
      clip-path: inset(0 100% 0 0);
    }
    50% {
      clip-path: inset(0 0 0 0);
      filter: drop-shadow(0 0 5px blue);
    }
}
  
  