@tailwind base;
@tailwind components;
@tailwind utilities;

.word {
  position: relative;
  display: block;
  overflow: hidden;
}

.clip-text::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: inset(0 100% 0 0);
  animation: revealText 3s ease-in-out infinite;
}
